
.home{
display:flex;
justify-content: space-between;
padding:0px 15%;
margin:10px 0px;
}

.home-left{
 flex:1;
 height:400px;
 position:sticky;
 top:70px;
}

.leftLinks{
padding:20px 30px;
text-align:center;
}

.link{
list-style:none;
padding:20px 5px;
color:gray;

}

.link-item{
text-decoration:none;
font-size:20px;
color:gray;
padding:4px 20px;
border-radius:5px;
display:flex;
align-items:center;
}


.link-item:hover{
background-color:gray;
color:white;
}





.home-center{
flex:4;
padding:20px 10%;
}

.post{
max-width:600px;
height:600px;
border-radius: 5px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
margin-bottom:10px;
}

.user-post{
display:flex;
align-items:center;
padding:7px;
}

.profile{
width:30px;
height:30px;
border-radius:50%;
margin-right:10px;
}
.image{
width:100%;
height:70%;
}

.caption{
padding:0px 7px;
font-size:17px;
}

.post-actions{
display:flex;
padding:0px 7px;
justify-content:space-between;
align-items:center;
}

.like-btn , .unlike-btn, .comments{
background-color:transparent;
border:none;
padding:7px;
}



.home-right{
flex:2;
height:300px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding:0px 10px;
text-align:center;
margin-top:25px;
}

.suggestion{
display:flex;
justify-content:space-between;
align-items:center;
}


.following{
display:flex;
justify-content:center;
align-items:center;
}