.main{
display:flex;
justify-content: space-between;
padding:0px 15%;
margin:10px 0px;
}

.profile-side{
 flex:2;
 position:relative;
 margin-top:50px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 border-radius:5px;
 height:450px;
}

.username{
text-align:center;
font-weight:bold;
font-size:20px;
padding-top:15px;
}

.profile{
width:250px;
height:250px;
border-radius:50%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top:10px;

}

.dlt-btn{
display: block;
margin-left: auto;
margin-right: auto;
}

.bio{
text-align:center;
}

.form{
margin:60px 0px;
padding:20px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.my-posts{
flex:3;
padding:20px 10%;
}

.post{
max-width:500px;
height:500px;
border-radius: 5px;
margin-bottom:10px;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-post{
display:flex;
align-items:center;
padding:7px;
}


.image{
width:100%;
height:70%;
}

.caption{
padding:0px 7px;
font-size:17px;
}

.post-actions{
display:flex;
padding:0px 7px;
justify-content:space-between;
align-items:center;
}

.like-btn , .unlike-btn, .comments{
background-color:transparent;
border:none;
padding:7px;
}

.user{
display:flex;
}
.comment{
margin-left:40px;
}