{% extends 'useraccount/base.html' %}
{% load static %}
 {% block title %}<title>FakeBook-Register</title>{% endblock %}
{% block css %}{% endblock  %}

{% block content %}
<div class="container">
<p class="message">
{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  There was an error with your form
</div>

{% endif %}
</p>
<h3>Register</h3>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   {{form.as_p}}
    {{profile_form.as_p}}

  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

</body>
</html>
</div>
{% endblock %}